html{
    color: #373d3f;
    background-color: #fafcf8;
    font-size:120%;
}
body {
    font-size: 16px;
}

div{
    font-size: 150%;
}

.hangul {
    display: none;
    color: #1496bb;
}
.hanja {
    color: #AD2A1A;
}
#reset {
    display: block;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 99;
    font-size: 200%;
    border: none;
    outline: none;
    background-color: rgb(77, 58, 58);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

@media(min-width:60em){
    div{
        font-size: 90%
    }
    #reset {
        font-size: 100%;
    }
}