html{
    color: #373d3f;
    background-color: #fafcf8;
    width: 100vw;
}

@font-face {
    font-family: "NanumBarunGothic";
    src: url("./NanumBarunGothic.ttf") format("woff");
}

body {
    font-family: NanumBarunGothic;
}
.hangul {
    display: none;
    color: #1496bb;
}
.hanja {
    color: #AD2A1A;
}
#reset {
    display: block;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 99;
    font-size: 100%;
    border: none;
    outline: none;
    background-color: rgb(77, 58, 58);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
    body {
        font-size: 2rem;
    }
}
/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
    body {
        font-size: 1.6rem;
    }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
    body {
        font-size: 1.3rem;
    }
}