html{
    color: #373d3f;
    background-color: #fafcf8;
    width: 100vw;
}

@font-face {
    font-family: "NanumBarunGothic";
    src: url("./NanumBarunGothic.ttf") format("woff");
}

body {
    font-family: NanumBarunGothic;
}
.hangul {
    display: none;
    color: #0e7896;
}
.hanja {
    color: rgb(148, 32, 17);
}
#reveal {
    display: block;
    position: fixed;
    bottom: 5px;
    left: 5px;
    z-index: 99;
    font-size: 80%;
    border: none;
    outline: none;
    background-color: #4682b4;
    color: white;
    cursor: pointer;
    padding: 6px;
    border-radius: 4px;
}
#reset {
    display: block;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 99;
    font-size: 80%;
    border: none;
    outline: none;
    background-color: #ab381f;
    color: white;
    cursor: pointer;
    padding: 6px;
    border-radius: 4px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
    body {
        font-size: 1.75rem;
    }
}
/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
    body {
        font-size: 1.5rem;
    }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
    body {
        font-size: 1.3rem;
    }
}